<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin Price</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header>
        <h1>Bitcoin Price Index</h1>
    </header>
    <div class="container">
        <ul>
            <% for (const currency in bpi) { %>
                <li><strong><%= currency %>:</strong> <%= bpi[currency].rate %></li>
            <% } %>
        </ul>
        <button onclick="window.location.href='/'">Back to Home</button>
    </div>
</body>
</html>
