<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universities List</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header>
        <h1>Universities in <%= country %></h1>
    </header>
    <div class="container">
        <ul>
            <% universities.forEach(university => { %>
                <li><%= university.name %></li>
            <% }) %>
        </ul>
        <button onclick="window.location.href='/'">Back to Home</button>
    </div>
</body>
</html>
